<?xml version="1.0"?>
<configuration>
	<appSettings>
    <add key="facebook.Linq.ApplicationID" value="231464590266507"></add>
    <add key="facebook.Linq.APIKey" value="231464590266507"></add>
    <add key="facebook.Linq.Secret" value="9dd6ce54b4405dd1325d271d2419bc34"></add>
  </appSettings>
	<!--IIS6 settings-->
	<system.web>
		<httpHandlers>
			<add verb="*" path="FacebookCallback.ashx" type="Facebook.Web.FacebookCallback, facebook.Linq, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" validate="false"/>
		</httpHandlers>
	</system.web>

	<!--IIS7 settings-->
	<system.webServer>
		<handlers>
			<add name="FacebookCallback" verb="*" path="FacebookCallback.ashx" type="Facebook.Web.FacebookCallback, facebook.Linq, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
		</handlers>
	</system.webServer>
</configuration>
